:local {
    body {
        background-color: $primary-color;
        font-family: 'Open Sans', sans-serif;
    }
    .header {
        background-color: #ffffff;
        padding: 20px 0;
        text-align: center;
    }
}
