:global {
    body {
        background-color: #1fb6ff;
        font-family: 'Open Sans', sans-serif;
    }
}

:local {
    .header {
        background-color: #ffffff;
        padding: 20px 0;
        text-align: center;
    }
}
